body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#bounceBox {
  position: relative;
  height: 90vh;
  width: 100vw;
}

.keywords {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0px 10px 0pc 10px;
}

.keywords h2 {
  font-size: 35px;
  color: #83c1a9ff;
  margin-top: 5px;
}