body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#bounceBox {
  position: relative;
  top: -10vh;
  left: -3vw;
  height: 90vh;
  width: 102vw;
}

.keywords {
    padding: 0% 1% 1% 1%;
    font-size: 50em;
    color: #83c1a9ff;
    white-space: nowrap;
    hyphens: none;
    word-break: keep-all;
}

#pupil {
  transform-box: fill-box;
  transform-origin: center;
}