.popup {
    position: fixed;
    top: 15%;
    left: -2%;
    z-index: 9999;
    display: grid;
    place-items: center;
    background-color:rgb(22, 0, 53);
    box-shadow: 5px;
    height: 600px;
    width: 102%;
    margin: auto;
    padding: 25px;
}

.fadeIn {
    opacity: 1;
	animation: fadeInAnim .3s 1 ease-in;
}

.fadeOut {
    opacity:0;
    animation: fadeOutAnim .3s 1 ease-out;
    pointer-events: none;
}

.popup #exit {
    position: fixed;
    top: 10%;
    right: 2%;
    z-index: 110;
    background-color: white;
    padding: 10px;
    color: var(--accent);
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
}
    .popup h1 {
    color:red;
}

@keyframes fadeInAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutAnim {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}