.popupMobile {
    position: fixed;
    top: 20vh;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 9999;
    background-color: rgb(0, 0, 0);
    border: solid 5px white;
    overflow: hidden;
    box-sizing: border-box;
    /* border no longer adds extra width */
}

#divMobile {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#divMobile img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--accent);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(156, 136, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

#colTop>* {
    padding: 0 25px;
    /* apply padding to the content inside instead */
}

.popupMobile h1 {
    font-size: 4em;
}

.fadeIn {
    opacity: 1;
    animation: fadeInAnim .3s 1 ease-in;
}

.fadeOut {
    opacity: 0;
    animation: fadeOutAnim .3s 1 ease-out;
    pointer-events: none;
}

#demo{
    margin: 0;
}

.popupMobile #exit {
    position: fixed;
    top: 11.8vh;
    right: 0;
    z-index: 110;
    background-color: var(--accent);
    padding: 9px;
    background-color: white;
    color: red;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
}

.popupMobile a {
    color: #a593ff;
    font-size: 3em;
    letter-spacing: .05ch;
}

.popupMobile h2 {
    color: #a593ff;
    font-size: 6em;
    line-height: 60%;
    padding-bottom: 16px;
}

.popupMobile p {
    text-align: left;
    font-size: 2em;
    padding-right: 20px;
}

.popupMobile #exit:hover {
    background-color: red;
    color: white
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}