.popup {
    display: grid;
    grid-template-columns: 60% auto;
    position: fixed;
    top: 5%;
    left: -2%;
    z-index: 9999;
    place-items: left;
    background-color:rgb(6, 0, 41);
    box-shadow: 5px;
    height: 600px;
    width: 102%;
    margin: auto;
    padding: 25px;
    overflow-y: scroll;
}

#colRight {
    height: 106%;
    margin-top: -5%;
    margin-right: -2%;
    background-color:yellow;
}

.fadeIn {
    opacity: 1;
	animation: fadeInAnim .3s 1 ease-in;
}

.fadeOut {
    opacity:0;
    animation: fadeOutAnim .3s 1 ease-out;
    pointer-events: none;
}

.popup #exit {
    position: fixed;
    top: 8px;
    right: 2%;
    z-index: 110;
    background-color: var(--accent);
    padding: 10px;
    color: white;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
}

.popup a {
    color:#a593ff;
    font-size: 3em;
    letter-spacing: .05ch;
}
    .popup h2 {
    color: #a593ff;
}

    .popup p {
    text-align: left;
    padding-right: 20px;
}

.popup #exit:hover {
    background-color: white;
    color: red;
}

@keyframes fadeInAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutAnim {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
