:root {
  --accent: #000000;
  cursor: crosshair;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  color: white;
  background-color: var(--accent);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 3s ease;
}

::selection {
  background-color: white; 
  color: var(--accent);
}

/* For older Firefox versions, the -moz- prefix is required */
::-moz-selection {
  background-color: white;
  color: var(--accent);
}

html, body {
  height: 100%;
  overflow: hidden; /* lock the outer scroll */
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}
.scrollable {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 2%,
    black 100%
  );
    -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 2%,
    black 100%
  );
}

.App{
border: 2px solid white;
height: 94vh;
width: 96vw;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: .5vmax;
}

header {
  float:right;
  padding-right:10px;
}

#hamburger {
  float:left;
  padding-top: 2%;
  padding-left: 2%;
}

#topHeader {
  position: sticky;
  top: 1vh;
  z-index: 100;
}

.spanAll {
  background-color: white;
  color: var(--accent);
  font-weight: 800;
}

a {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  color:white;
  background: linear-gradient(to top, var(--accent) 50%, white 50%) bottom;
  transition: background-color 0.5s ease-in-out;
  background-size: 100% 300%;
  transition: .25s ease-in;
  margin: 0 2%;

}
.h1Mobile {
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vh;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -.04em;
  line-height: .6em;
  padding-top: 2%;
  padding-right: 2%;
}

.h2Mobile {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14vh;
  text-align: center;
  letter-spacing: -.04em;
  line-height: .6em;
  margin-top: 10vh;
  margin-bottom: 1vmin;
}

.pMobile {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 1.7em;
  text-align: center;
  line-height: 1.3em;
  margin-top: 4vh;
  padding: 2% 5%;
}

#smaller{
  font-size: .5em;
}

#eyeDiv {
  width: 200px;
}

.skillsContainer p {
  text-align: center;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12vmin;
  text-transform: uppercase;
  letter-spacing: -.04em;
  line-height: 1em;
  margin-top: 3vmin;
  margin-bottom: 2vmin;
}